<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%logger - %message%n%xException</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!--
      The logger name is typically the Java/Scala package name.
      This configures the log level to log at for a package and its children packages.
    -->
    <logger name="play" level="WARN" />
    <logger name="application" level="WARN" />
    <logger name="me.andrz.jackson" level="WARN" />
    <logger name="de.zalando.beard" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />

    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
